.header {
  height: 80px;
  line-height: 80px;
  border-bottom: 2px solid #f7f7f7;
  .logo {
    img {
      margin-top: 19px;
    }
  }
  .tab {
    float: right;
    .tab-item {
      padding: 0 25px;
      &:hover,
      &.active {
        color: $theme-color;
      }
    }
    .btn {
      color: $color-white;
      margin-left: 12px;
    }
  }
}
